<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gabtastik.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gabtastik.Settings1>
            <setting name="MainWindowTopmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowGoOpaque" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultService" serializeAs="String">
                <value>@facebook.com</value>
            </setting>
            <setting name="WidthBrowser" serializeAs="String">
                <value>820</value>
            </setting>
            <setting name="HeightBrowser" serializeAs="String">
                <value>403</value>
            </setting>
            <setting name="WidthFacebook" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="HeightFacebook" serializeAs="String">
                <value>403</value>
            </setting>
            <setting name="WidthGoogle" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HeightGoogle" serializeAs="String">
                <value>492</value>
            </setting>
            <setting name="HeightMeebo" serializeAs="String">
                <value>403</value>
            </setting>
            <setting name="SingleWindowMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SystemTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableScriptDebugging" serializeAs="String">
                <value>True</value>
            </setting>
        </Gabtastik.Settings1>
    </userSettings>
</configuration>